[submodule "flixel"]
	path = flixel
	url = https://github.com/AdamAtomic/flixel.git
[submodule "Flixel-Power-Tools"]
	path = Flixel-Power-Tools
	url = https://github.com/photonstorm/Flixel-Power-Tools.git
